<!doctype html>
<html ng-app="AnyGap">
<!-- https://atom.io/packages/atom-html-preview -->
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"> </script>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-resource.min.js"></script>-->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/> -->

  <script src="./assets/js/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="./assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./assets/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="app.css"/>

  <title>AnyGap - AngularJS 리뷰</title>
</head>
<body>
  <div ng-controller="MainCtrl as main">
      <div class="col-md-4">
          <h2>Stories</h2>
          <story class="callout" ng-repeat="story in main.stories" ng-click="main.setCurrentStory(story)">
            <h4>{{story.title}}</h4>
            <p>{{story.description}}</p>
          </story>
          <div>
            <a class="btn btn-primary" ng-click="main.createStory()">
              <span class="glyphicon glyphicon-plus">  </span>
            </a>
          </div>
      </div>
  </div>
</body>
</html>
